extends layout/layouts.pug

block content
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/") Shop
                    li.main-header__item
                        a.active(href="/admin/add-product") Add Product

        main
            if prods.length > 0
                .grid
                    each product in prods
                        article.card.product-item
                            header.card__header
                                h1.product__title Hello Mr. #{product.title}
                                h1.product__age Nice choice: #{product.color}
                                h1.product__sex Size: #{product.size}
                            div.card__image
                                img(src="https://images.unsplash.com/photo-1588417722655-5dc464048a97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", alt="A Book")
                            div.card__content
                                h2.product__price #{pay}
                                p.product__description A very interesting book about so many even more interesting things!
                            .card__actions
                                button.btn Add to Cart
            else
                h1 No Products